$light-blue: #082359;
$dark-blue: #071A40;
$dark-green: #203140;
$light-green: #818C70;
$white-font: #F2F2F2;

$normal-gray: #232224;
$dark-gray: #161617;
$normal-gray: #353436;

$normal-red: #d94140;
$dark-red: #b42b2b;
$light-red: #d34040;